@font-face {
    font-family: 'bert';
    src: url(bert.otf);
}

body {
    font-family: 'bert', Arial, sans-serif;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 153, 0);
    background-color: black;
}

h1 {
    font-size: 100px;
    text-align: left;
    line-height: 100px;
    padding: 0px;
    padding-bottom: 30px;
    margin: 0px;
}

#map {
    height: 600px;
    width: 800px;
    border: 4px solid #4CAF50;
    border-radius: 2px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

#locate-btn {
    background-color: rgb(255, 153, 0);
    color: #fff;
    padding: 10px 60px;
    margin-top: 30px;
    cursor: pointer;
    justify-content: right;
    margin-left: 610px;
}

#locate-btn:hover {
    background-color: #3e8e41;
}

.bottoms {
    text-align: end;
}