body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map-container {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 20px auto;
}

#share-location-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#share-location-btn:hover {
    background-color: #3e8e41;
}